.border-early {
	border-width: 5px;
	border-style: solid;
	border-color: #759188;
}

.border-pale {
	border-width: 5px;
	border-style: solid;
	border-color: #5E7167;
}

.border-medium {
	border-width: 5px;
	border-style: solid;
	border-color: #43544B;
}

.border-vibrant {
	border-width: 5px;
	border-style: solid;
	border-color: #162D21;
}

.border-late {
	border-width: 5px;
	border-style: solid;
	border-color: #212C27;
}

/*Link hovering*/

.secretsanta ul.navbar-nav a:hover {
    background-color: #5E7167;
}

.secretsanta ul.navbar-nav li.disabled a:hover {
    background-color: #212C27;
}

.secretsanta ul.navbar-nav li.active a {
    background-color: #43544B;
}

.secretsanta ul.navbar-nav li.active a:hover {
	/*background-color: #5E7167;*/
}

/*Colors*/

.early {
	color: #759188;
}

.pale {
	color: #5E7167;
}

.medium {
	color: #43544B;
}

.vibrant {
	color: #162D21;
}

a.vibrant:hover, a.vibrant:focus {
	color: #212C27;
	//text-decoration: none;
}

.late {
	color: #212C27;
}

/*
Focus fix
*/

:focus {
    outline: 1px auto #759188 !important;
}